[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.8"
djangorestframework = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "2.7"
